<?xml version="1.0"?>
<config>
    <modules>
        <Increazy_Extender>
            <version>1.0.0</version>
        </Increazy_Extender>
    </modules>
    <global>
        <models>
            <increazy_extender>
                <class>Increazy_Extender_Model</class>
            </increazy_extender>
        </models>
    </global>
</config>