<?xml version="1.0"?>
<config>
    <modules>
        <Increazy_Extender>
            <version>1.0.0</version>
        </Increazy_Extender>
    </modules>
    <global>
        <models>
            <extender>
                <class>Increazy_Extender_Model</class>
            </extender>
        </models>
    </global>
    <api2>
        <resources>
            <catalog_category>
                <methods>
                    <tree_full>
                        <method>catalogCategoryTreeFull</method>
                        <model>extender/category_api</model>
                    </tree_full>
                </methods>
            </catalog_category>
        </resources>
    </api2>
</config>
